venv/
.venv/
env/
ENV/
env.bak/
venv.bak/
__pycache__/
*.pyc
*.pyo
*.pyd
*.py[cod]
*$py.class
.pytest_cache/
.mypy_cache/
.ruff_cache/
.dmypy.json
pyrightconfig.json

.spyderproject
.spyproject
.ropeproject
.vscode/
.idea/

.env
local_settings.py

db.sqlite3
db.sqlite3-journal
media/

*.log
*.pot
celerybeat-schedule
celerybeat.pid

build/
dist/
*.egg-info/
*.egg
eggs/
parts/
sdist/
var/
wheels/
share/python-wheels/

.git/
.gitignore
.gitattributes

Dockerfile
docker-compose.yml
.dockerignore

*.manifest
*.spec
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.npm-debug.log
